.form {
  padding: 12px;
  border: 1px solid #020202;
  border-radius: 8px;
  width: 200px;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}

.input {
  display: block;
}

.input:last-child {
  margin-bottom: 16px;
}